<!--<app-por-capital></app-por-capital>
<app-por-pais></app-por-pais>
<app-por-region></app-por-region>
<app-ver-pais></app-ver-pais>-->


<div class="container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col prueba">
        <router-outlet></router-outlet><!--esto hace que las rutas sean dinamicas, es decir que se mostrara en el div el contenido correspondiente al los respecivos modulos defininidos en el app.routin.module.ts-->
        <hr>
    </div>
</div>

